<p>users works!</p>
<!---
First Name : <input [(ngModel)]="newUser.firstName" type="text"><br>
Last Name : <input [(ngModel)]="newUser.lastName" type="text"><br>
<button (click)="createUser()" class="btn btn-info">Submit</button><br>
-->
<button (click)="getUsers()" class="btn btn-primary">Get users</button>
<button (click)="goToAddUser()" class=" btn btn-danger">Go to Add user</button>
<button (click)="goToregegistarion()">registraion</button>
<ul>
  @for (employee of employee; track employee._id) {
  <li>{{employee.firstName}} {{employee.lastName}} <button (click)="deleteUser(employee._id)" class="btn btn-danger">delete</button></li> 
  }
</ul>
