
<div class="m-4">
  <button class="float-end btn btn-primary" (click)="goToAddUser()">
    Go to Add employee
  </button>
<!--<button (click)="goToregegistarion()">registraion</button>
-->
@if(isloging ==false){
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First name</th>
      <th scope="col">Last lastname</th>
      <th scope="col"> </th>
    </tr>
  </thead>
  <tbody>
    @for (employee of employee; track employee._id){
      <tr>
        <th scope="row">{{ $index + 1 }}</th>
        <td>{{ employee.firstName }}</td>
        <td>{{ employee.lastName }}</td>
        <td>{{employee.email}}</td>
        <td>{{employee.gender}}</td>
        <td>
          <button (click)="deleteUserById(employee._id)" class="btn btn-danger">delete</button>
        </td>
        <td>   <button [routerLink]="'/editemployee/' + employee._id" class="btn btn-warning">
          Edit
        </button></td>
      </tr>
      }
  </tbody>
</table>
} @else {
  <h1>......Loding</h1>
}
</div>
